@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --bg-pattern: url("/pattern-light.png");
}

:root {
    --font-poppins: "Poppins", sans-serif;
    --border-color: #666;
    --background: #f3f3f3;
    --foreground: #111;
    --button-bg: #111;
    --success: #4caf50;
    --error: #f44336;
}

.dark {
    --background: #111;
    --foreground: #f3f3f3;
    --border-color: #333;
    --bg-pattern: url("/pattern.png");
    --button-bg: #f1f1f1;
}

body {
    font-family: var(--font-poppins);
    background: var(--bg-pattern);
}
